@model List<ASPGroupProject.Models.Product>
@using ASPGroupProject.Models

@{
    ViewBag.Title = "Checkout";
    List<Product> products = ViewBag.Products;
}

<h1>Checkout Cart</h1>

<h3>Products</h3>
<table>
    <tr>
        <th>Product</th>
        <th>Price</th>
    </tr>
    @foreach (Product p in products)
    {
        <tr>
            <td>@p.Name</td>
            <td>@p.Price.ToString("c")</td>
        </tr>
    }
</table>
<br />
<br />

<h3>Price</h3>
<table>
    <tr>
        <th>Description</th>
        <th>Amount</th>
    </tr>
    <tr>
        <td>Subtotal</td>
        <td>@ViewBag.totalNoTax.ToString("c")</td>
    </tr>
    <tr>
        <td>Taxes</td>
        <td>@ViewBag.Taxes.ToString("c")</td>
    </tr>
    <tr>
        <td>Total</td>
        <td>@ViewBag.Total.ToString("c")</td>
    </tr>
</table>
<br />
<br />

@using (Html.BeginForm("try_purchase", "Home"))
{
    <input type="hidden" name="total" value="@ViewBag.Total" />
    <input type="hidden" name="product_list" value="@products" />
    <Table>
        <tr><td>Name On Card:</td><td><input type="text" name="name" /></td></tr>
        <tr><td>Card Number:</td><td><input type="text" name="card_num" /></td></tr>
        <tr><td>Expiration</td><td><input type="date" name="expiration" /></td></tr>
        <tr><td>CVC:</td><td><input type="text" name="cvc" /></td></tr>
        <tr><td>Shipping Address:</td><td><input type="text" name="address" /></td></tr>
        <tr><td>City:</td><td><input type="text" name="city" /></td></tr>
        <tr><td>State:</td><td><input type="text" name="state" /></td></tr>
        <tr><td>Zip Code:</td><td><input type="text" name="zip" /></td></tr>
        <tr><td>Country:</td><td><input type="text" name="country" value="USA" /></td></tr>
    </Table>
    <br />
    <input type="submit" value="submit" />
}