@using ASPGroupProject.Models
@{
    var StuffList = ViewBag.message;
}



<div id="sort">
    <h3>Filter Categories</h3>
    @using (Html.BeginForm("sort_store", "Home"))
    {
        <select style="width: 200px;" name="sort">
            <option value="none"></option>
            @foreach (string cat in ViewBag.Categories)
            {
                <option value="@cat">@cat</option>
            }
        </select>
        <input type="submit" style="margin-left: 10px;" class="btn btn-primary" value="Sort"/>
    }
</div>
<br /><br />

<div class="card-columns">
    @foreach (var product in StuffList)
    {
        <div class="card">
            <img class="card-img-top product-thumbnail" src="..@(product.Image)_Main.jpg" />
            <div class="card-header">
                <h4 class="card-title">@product.Name</h4>
            </div>
            <div class="card-body">
                <p class="card-text">
                    @product.Description
                    <br />
                    <br />
                    @product.Price.ToString("c")
                </p>
            </div>
            @using (Html.BeginForm("add_to_cart", "Home"))
            {
            <div style="text-align: center;" class="form-group">
                <input type="hidden" name="id" value="@product.Id" />
                <input type="submit" class="btn btn-primary" value="Buy" />
            </div>
            }
        </div>
        }
</div>